* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: pink;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    color: black;
    text-align: center;
    height: 400px;
    background-image: url(https://cdn2.vectorstock.com/i/1000x1000/69/71/birthday-set-vector-1036971.jpg);
    width: 100%;
    background-size: cover;
    background-position: middle;
    display:flex;
    justify-content: space-evenly;
}
nav {
    display: flex;
    flex-direction: row;
    background-color: pink;
    justify-content: space-evenly;
}
nav div {
    text-align: center;
    height: 60px;
    padding-top: 10px;
}

nav div a {
    text-decoration: none;
    color: white;
    font-size: 2em;
}

input[type=text] {
    width: 50%;
    padding: 10px;
    margin: 10px;
    background-color:pink;
    color: black;

}
# {
    width:100%;
    height:650px;
}
article{
    text-align:center;
    display: flex;
    background-color: pink;
}
article div {
    width:25%;
}
#top {
    width:100%;
}
#topp {
    width:100%;
}
#toppp {
    width: 100%;
}
#topppp {
    width: 100%;
}
h3 {
    text-align: center;
    font-size: 4em;
    background-color: pink;
}
article div {
    width: 25%;
}
#candle {
    width: 100%;
}
#candl {
    width: 100%;
    height:420px;
}
#cand {
    width: 100%;
}
#can {
    width: 100%;
}
article div {
    width:25%;
}
#balloo {
    width: 100%;
    height: 420px;
}
#ballo {
    width: 100%;
}
#ball {
    width: 100%;
}
#bal {
    width: 100%;
}
article div {
    width: 25%;
}
#confetti {
    width: 100%;
}
#confett {
    width: 100%;
}
#confet {
    width: 100%;
}
#confe {
    width:100%;
    height: 420px;
}
article div {
    width: 25%;
}
#decorations {
    width:100%;
}
#decoration {
    width: 100%;
}
#decoratio {
    width: 100%;
}
#decorati {
    width:100%;
}
