* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
    background-color: blue;
}
nav a {
    background-color: yellow;
    text-decoration: none;
}
nav a:hover {
    color:white;
}
nav {
    background-color: green;
}
main {
    background-color: red;
}
#id {
    display: none;
}
    #id {
        width: 100%;
    }
footer {
    background-color: purple;
}
footer:hover {
    background-color: grey;
    font-size: 2em;
}

@media screen and (max-width: 600px) {
    header {
        background-color: magenta;
    }
}
@media screen and (min-width: 800px) {
    header {
        background-color: rgb(48, 15, 235);
        color: white;
    }
}
