*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    display: flex;
    flex-direction: row;
}
a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: deepskyblue;
    color: white;
    padding-left: 20px;
    padding-right: 20px;

}
a:hover {
    background-color: dodgerblue;
}
div {
    width: 100px;
    padding: 10px;
    width: 100%;
}
#flex3 {
    background-color: yellow;
}
    nav a:hover {
        color:white;
    }
    nav {
        background-color: green;
    }
    footer {
        background-color: purple;
    }
    footer:hover {
        background-color: grey;
        font-size: 2em;
    }
    
    @media screen and (max-width: 600px){
        #km {
            display:none;
        }
        #old {
            display: inline;
        }
    }
    